@font-face {
  font-family: 'Playfair';
  src: url('./fonts/playfair-regular.woff2') format('woff2'),
    url('./fonts/playfair-regular.woff') format('woff'),
    url('./fonts/playfair-regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Open-sans';
  src: url('./fonts/open-sans.woff2') format('woff2'),
    url('/fonts/open-sans.woff') format('woff'),
    url('/fonts/open-sans.ttf') format('truetype');
  font-display: swap;
}

body {
  margin: 0px;
  font-family: 'Open-sans', "Arial", sans-serif;
}

a {
  font-family: 'Open-sans', "Arial", sans-serif;
}

h1 {
  font-family: 'Playfair', "Arial", sans-serif;
  font-size: 25px;
  line-height: 75px;
  margin: 0;
  padding: 0 20px;
  text-align: left;
}

h2 {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}
